{% extends "trips/base.html" %}
{% load staticfiles %}

{% block title %}
	<title>Контакты poezhai.com!</title>
{% endblock title %}

{% block body %}
	<div class="post-header" style="background: url('{% static "trips/images/sea.jpg" %}');">

	</div>
	<div class="container">
		<h2 class="post-title">Проект "Поезжай!"</h2>
		<div class="col-md-12">
		<p>Ведущая этого блого - Елена. Она обожает путешествовать и делает это настолько часто, насколько ей удается. Каждая поездка, в которую она отправляется, приносит какое-то новое открытие - и не только географическое, но, главное, о самой себе. Этот блог будет пополнятся новыми историями и советами каждую неделю. Так что оставайтесь на связи!</p>
		<p>Если у вас появились какие-то вопросы или пожелания, пишите Елене на почту oat.elena(собака)gmail.com. Она с радостью вам ответит!</p>
		</div>
	</div>
{% endblock body %}