{% extends "trips/base.html" %}
{% load staticfiles %}

{% block title %}
	<title>Контакты poezhai.com!</title>
{% endblock title %}

{% block body %}
	<div class="post-header" style="background: url('{% static "trips/images/sea.jpg" %}');">

	</div>
	<div class="container">
		<h2 class="post-title">Проект "Поезжай!"</h2>
		<div class="col-md-12">
		<p>Привет! Меня зовут Елена и я обожаю путешествовать! Наверное, ты тоже?! Каждая поездка, в которую я отправляюсю, приносит какое-то новое открытие - и не только географическое, но, главное, о самой себе. Этот блог будет пополнятся новыми историями и советами каждую неделю. Так что оставайтесь на связи!</p>
		<p>Если у вас появились какие-то вопросы или пожелания, пишите мне<a href="mailto:elena@poezhai.com"
    onmouseover="this.href=this.href.replace(/x/g,'');">сюда</a>. Я с радостью отвечу!</p>
		</div>
	</div>
{% endblock body %}