{% extends "trips/base.html" %}
{% load staticfiles %}

{% block body %}
	<div class="site-header" style="background: url('{% static "trips/images/sea.jpg" %}');">
	</div>
	<div class="container">
<!-- 	style="background: url('{% static 'trips/images/banner.png' %}') no-repeat; background-size:contain; background-position: center;"
 -->
 		<h3 class="text-center general-header" style="margin-top: 20px;">последние посты</h3>
		<div class="row">
		{% for post in posts %}
			<article class="col-md-4">
				<header>
					<img src="{{ post.image.url }}" width="320" height="320" />
					<h2 class="header-title"><a class="" href="{% url 'trips:post' post.slug %} ">{{ post.title }}</a></h2>
				</header>
				<div class="entry-content">
					<p>{{ post.teaser }}</p>
				</div>
			</article>
		{% endfor %}
		</div>
	</div>
{% endblock body %}