{% extends "trips/base.html" %}
{% load staticfiles %}

{% block title %}
	<title>Путешествуйте умнее, больше, с удовольствием!</title>
{% endblock title %}

{% block body %}
	<div class="site-header" style="background: url('{% static "trips/images/sea.jpg" %}'); background-repeat: no-repeat;">
		<div class="row">
			<img src="{% static 'trips/images/tagline.png' %}" style="margin-top: 120px;" alt="Путешествуйте умнее. Больше. С удовольствием." class="img-responsive col-md-offset-4 col-sm-offset-3 col-xs-offset-1" />
		</div>
		<!-- style="display:block; margin: 0 auto 0 auto; height: auto; margin-top: 86px;" -->
	</div>
	<div class="container">
<!-- 	style="background: url('{% static 'trips/images/banner.png' %}') no-repeat; background-size:contain; background-position: center;"
 -->
 		<h3 class="text-center row post-title">последние посты</h3>
		<div class="row">
		{% for post in posts %}
			<article class="col-md-4">
				<header class="text-center">
					<img class="responsive" alt="{{ post.image_description }}" src="{{ post.image.url }}" />
					<h2 class="header-title" style="min-height: 40px;"><a class="" href="{% url 'trips:view_post' post.slug %} ">{{ post.title }}</a></h2>
				</header>
				<div class="entry-content text-justify">
					<p>{{ post.teaser }}</p>
				</div>
			</article>
		{% endfor %}
		</div>
	</div>
{% endblock body %}