{% extends "trips/base.html" %}
{% load staticfiles %}

{% block title %}
	<title>{{ post.title }}</title>
{% endblock title %}

{% block body %}
	<div class="post-header" style="background: url('{% static "trips/images/sea.jpg" %}'); background-repeat: no-repeat;">

	</div>
	<div class="container">
<!-- 	style="background: url('{% static 'trips/images/banner.png' %}') no-repeat; background-size:contain; background-position: center;"
 -->
		<div class="row">
			<div class="col-md-8 text-center post-container">
				<h2 class="post-title">{{ post.title }}</h2>
				<h4>{{ post.pub_date.date }}</h4>
				<img alt="{{ post.image_description }}" src="{{ post.image_post.url }}" class="img-responsive" />
				<div class="text-justify">
					<p>{{ post.text|safe }}</p>
				</div>
			</div>
			<div class="col-md-4">
			<h3 style="margin-top: 80px;">ПОСЛЕДНИЕ ПОСТЫ</h3>
			<ul class="list-unstyled">
				{% for post in latest %}
				<li><a href="{% url 'trips:view_post' post.slug %}">{{post.title}}</a></li>
				{% endfor %}
			</ul>
			<h3>ДРУГИЕ ПОСТЫ</h3>
			<ul class="list-unstyled">
				{% for post in other %}
				<li><a href="{% url 'trips:view_post' post.slug %}">{{post.title}}</a></li>
				{% endfor %}
				<li></li>
			</div>
		</div>
	</div>
{% endblock body %}