h2, h1 {
	font-family:  'Fjalla One', sans-serif;
	text-align: center;
	color: #000;
	font-weight: 500;
	margin: 0 0 10px;
}

* {
	box-sizing: border-box;
}

a.dotted {
	border-bottom: 1px dotted;
}

a {
	color: #111;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

body {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.625;
	font-style: 'Lato', sans-serif;
	/*padding-top: 70px;*/
}

.post-container p {
	margin-bottom: 26px;

}

.post-title {
	text-transform: uppercase;
	margin-top: 15px;
}

.header-title {
	font-size: 21px;
	margin: 10px;
	text-transform: uppercase;
}

.post-image {
	width: auto;
	max-height: 400px;
	margin-bottom: 15px;
}

.header-title a {
	color: #222;
	font-weight: 500;
	background-color: inherit;
	text-decoration: none;
}

.header-title a:hover {
	color: #2da1c4;
	font-weight: 500;
}

.entry-content {
}

.general-header {
	font-size: 20px;
	text-transform: uppercase;
	/*font-weight: 700;*/
	margin: 0 auto 30px auto;
	display: block;
}
#div-bg-img {
	background: url('images/blogposts.png');
}
.nav-fonttype {
	letter-spacing: 1.5px;
	font-size: 25px;
	font-weight: 400;
}

.site-header {
	min-height: 600px;
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	background-size: cover;
	background: transparent;
	background: url('');
	background-size: 100% auto;
}

.post-header {
	min-height: 400px;
	background: url('');
	background-size: 100% auto;
}

.navbar-nav {
	display: inline-block;
	float: none;
}
